@mixin center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex: 1 100%;
}
body {
  margin: 0;
  height: 10vh;
  background-color: beige;
  @include center;
}
.App {
  align-self: center;
  width: 10em;
  height: 10em;
  padding: 0.5em;
  border: 5px solid black;
  border-radius: 1em;
  background-color: bisque;
  text-align: center;
}
